#!/usr/bin/env python
'''
Output CPU TEMP
'''
import os
import time
import sys

REPEAT = False
DATA = ""
i = 1

if len(sys.argv) > 1:
    if sys.argv[1] == 'repeat' or sys.argv[1] == 'r' or \
            sys.argv[1] == '-repeat' or sys.argv[1] == '-r':
        REPEAT = True

TEMP = 'cat /sys/class/thermal/thermal_zone0/temp'
TEMP = os.popen(TEMP).readline().strip()
TEMP = int(TEMP) / 1000
CTIME = time.strftime('%r - %A, %h %d - %m/%d/%Y')
print('TIME: ' + CTIME)
print('CPU TEMP: ' + str(TEMP) + ' C')
DATA = 'CPU TEMP: ' + str(TEMP) + ' C\n'

while REPEAT:
    os.system('clear')
    TEMP = 'cat /sys/class/thermal/thermal_zone0/temp'
    TEMP = os.popen(TEMP).readline().strip()
    TEMP = int(TEMP) / 1000
    CTIME = time.strftime('%r - %A, %h %d - %m/%d/%Y')
    print('===RECORD===\n' + DATA + '\n\n')
    print('TIME: ' + CTIME)
    print('CPU TEMP: ' + str(TEMP) + ' C')
    if i >= 10:
        DATA += 'TIME: ' + CTIME + '\n'
        i = 0
    DATA += 'CPU TEMP: ' + str(TEMP) + ' C\n'
    time.sleep(1)
